@page
@model YNAER.Presentation.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <span>HTMX test</span>
    <form>
        @Html.AntiForgeryToken()
        <button
            hx-post="/"
            hx-target="#results"
            hx-swap="innerHTML"
        >
            Get results
        </button>
    </form>
    <span>Results below</span>
    <div id="results">
        
    </div>
</div>
