@page
@model YNAER.Presentation.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<section id="hero-section">
    <h1 id="hero-title">YNAER</h1>
    <sub id="hero-subtitle">You need an expense report</sub>
</section>
