@page
@model YNAER.Presentation.Pages.Overview
@{
    ViewData["Title"] = "Overview";
}
<article>
    <h1>My Overview</h1>
    <section id="overviewContainer">
        <partial name="_AccountList"/>
    </section>
</article>